*{
		font-family: system-ui;
		border:none;
	}
	body{
		background: #333;
	}
	.container{
		background: #EAF0F1;
		padding: 3em;
		text-align: center;
		width: 30%;
		margin: 10% auto;
	}
	.form{
		width: 100%;
	}
	input[type="email"],input[type="password"],input[type="text"]{
		padding: 0.6em;
		width: 70%;
		margin: 1em;
		border-radius: 0.5em;
	}
	input[type="submit"]{
		padding: 0.5em;
		margin:0.5em;
		background: #1287A5;
		cursor: pointer;
		border-radius:0.2em;
		color:#fff;
		transition: 0.5s ease;
	}
	input[type="submit"]:hover{
		background: #192A56;
	}
	.footer{
		margin: 0;
		width:100%;
		text-align:center;
		background: #333;
		color: #fff;

	}